<section class="duvidas py-5 bg-light mb-20">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-3">Dúvidas?</h2>
                <p class="mb-4">Acesse nossa seção de perguntas frequentes ou entre em contato com nossa equipe.</p>
                <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
                    <button routerLink="support/faq"  pButton type="button" class="custom-button">Perguntas Frequentes</button>

                    <pk-contact-button></pk-contact-button>
                </div>
            </div>
        </div>
    </div>
</section>