<section class="we-offer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2>O que nós <span>Oferecemos</span></h2>
                    <h4>Descubra como podemos ajudar sua empresa!</h4>
                </div>
            </div>
        </div>
        <div class="row our-offer-items less-carousel">
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-handshake"></i>
                    <h4>Consultoria Personalizada</h4>
                    <p>
                        Soluções estratégicas sob medida para otimizar processos e melhorar os resultados do seu
                        negócio.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-flask"></i>
                    <h4>Produtos de alto rendimento</h4>
                    <p>
                        Linha de produtos com alta performance e eficiência para maximizar produtividade e reduzir
                        custos.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-users-cog"></i>
                    <h4>Equipe Tecnica Especializada</h4>
                    <p>
                        Profissionais capacitados e experientes, prontos para oferecer suporte técnico.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>