<section class="success-case">
    <div class="container">
        <div class="heading wow fadeIn text-center">
            <h2>Cases de
                <span>Sucesso</span>
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry
                when an unknown printer took
                <br>
                a galley of type and scrambled it to make a type specimen book It has survived
                not only five centuries.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="box d-flex align-items-center wow fadeInLeft">
                    <div class="content">
                        <h3>Coco Bambu
                            <span>Restaurantes</span>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown
                            printer</p>
                        <div class="social d-flex">
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </div>
                    </div>
                    <div class="image"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOtXcv6knPMdZE4jk10tVaz-jEf8U1F5QitA&s"
                            alt="Logo da Empresa" class="img-fluid"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box d-flex align-items-center wow fadeInLeft">
                    <div class="content">
                        <h3>Nome Empresa
                            <span>Ramo da Empresa</span>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown
                            printer</p>
                        <div class="social d-flex">
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </div>
                    </div>
                    <div class="image"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOtXcv6knPMdZE4jk10tVaz-jEf8U1F5QitA&s"
                            alt="Logo da Empresa" class="img-fluid"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box d-flex align-items-center wow fadeInLeft">
                    <div class="content">
                        <h3>Nome Empresa
                            <span>Ramo da Empresa</span>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown
                            printer</p>
                        <div class="social d-flex">
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </div>
                    </div>
                    <div class="image"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOtXcv6knPMdZE4jk10tVaz-jEf8U1F5QitA&s"
                            alt="Logo da Empresa" class="img-fluid"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box d-flex align-items-center wow fadeInLeft">
                    <div class="content">
                        <h3>Nome Empresa
                            <span>Ramo da Empresa</span>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown
                            printer</p>
                        <div class="social d-flex">
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </div>
                    </div>
                    <div class="image"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOtXcv6knPMdZE4jk10tVaz-jEf8U1F5QitA&s"
                            alt="Logo da Empresa" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</section>