<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Sobre a Proauto</span>
                        <h2>+ 35 anos transformando desafios em soluções.</h2>
                    </div>
                    <div class="text">
                        A <b>Proauto Kimium</b> nasceu da união entre experiência de mercado e paixão por inovação no
                        setor químico.
                        Desde o ínicio, nosso propósito sempre foi claro: <b>ajudar empresas a prosperarem com
                            segurança, eficiência e inteligência.</b>
                        Começamos atendendo oficinas e pequenas indústrias locais. Ao longo dos anos, crescemos lado a
                        lado com nossos clientes,
                        expandimos para novos segmentos e levamos nossa expertise para áreas como <b>alimentação,
                            lavanderias, cozinhas industriais,
                            aviação e setor institucional.</b>
                    </div>
                    <ul class="list-style-one">
                        <li>+35 anos de experiência</li>
                        <li>+7000 Clientes</li>
                        <li>+30 serviços de consultoria.</li>
                    </ul>

                </div>
            </div>
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a class="lightbox-image" data-fancybox="images"><img
                                src="https://i.ibb.co/QP6Nmpf/image-1-about.jpg" alt="" loading="lazy"></a></figure>
                    <!-- <figure class="image-2"><a class="lightbox-image" data-fancybox="images"><img
                                src="assets/images/miniatura-2.jpg" alt="quimicos" loading="lazy"></a></figure> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container">
        <div class="row clearfix">
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="title">Sobre</div>
                        <h2>Consultoria Personalizada</h2>
                    </div>
                    <div class="text">Mais do que distribuir produtos químicos, <b>entregamos consultoria, economia e
                            performance.</b>
                        Com um time técnico especializado, diagnosticamos gargalos operacionais, reduzimos desperdícios
                        e indicamos as melhores soluções para cada realidade
                        <br>
                        Na <b>Proauto Kimium</b>, acreditamos que <b>cada produto precisa ter um propósito e cada
                            cliente, uma solução personalizada.</b>
                        Nosso compromisso é com o resultado, com a sustentabilidade e, acima de tudo, com a confiança
                        construída ao longo de cada atendimento.
                    </div>
                    <div class="email">Email: <span class="theme_color"><a href="mailto:sac@proautokimium.com.br">sac&#64;proautokimium.com.br</a></span>
                    </div>
                    <a  class="theme-btn btn-style-three cursor-pointer">Solicitar contato</a>
                </div>
            </div>

            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column " data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="assets/images/planejamento.png" alt="planejamento" loading="lazy">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>