<div class="container">
    <div class="menu-categorias">
        <h2>Navegue por Categorias</h2>
        <div class="itens-categorias">
            <div class="categoria">
                <h3>Alimentos</h3>
                <ul>
                    <li><a href="/produtos/lista/#laticinios">Laticinios</a></li>
                    <li><a href="/produtos/lista/#bebidas">Bebidas</a></li>
                    <li><a href="/produtos/lista/#laticinios">Frigorificos</a></li>
                    <li><a href="/produtos/lista/#laticinios">Processadoras de Alimentos</a></li>
                    <li><a href="/produtos/lista/#laticinios">Mercados</a></li>
                    <li><a href="/produtos/lista/#laticinios">Panificadoras</a></li>
                    <li><a href="/produtos/lista/#laticinios">Confeitarias</a></li>
                </ul>
            </div>
            <div class="categoria">
                <h3>Cozinhas Industriais e Restaurantes</h3>
                <ul>
                    <li><a href="/produtos/lista/#laticinios">Cozinhas Industriais</a></li>
                    <li><a href="/produtos/lista/#laticinios">Fast Foods</a></li>
                    <li><a href="/produtos/lista/#laticinios">Bares</a></li>
                    <li><a href="/produtos/lista/#laticinios">Lanchonetes e Restaurantes</a></li>
                </ul>
            </div>
            <div class="categoria">
                <h3>Automotivo</h3>
                <ul>
                    <li><a href="/produtos/lista/#laticinios">Concessionárias</a></li>
                    <li><a href="/produtos/lista/#laticinios">Transportadoras de Carga</a></li>
                    <li><a href="/produtos/lista/#laticinios">Empresas de Ônibus</a></li>
                    <li><a href="/produtos/lista/#laticinios">Lava Rápido</a></li>
                    <li><a href="/produtos/lista/#laticinios">Posto de Combustível</a></li>
                    <li><a href="/produtos/lista/#laticinios">Concreteiras</a></li>
                </ul>
            </div>
            <div class="categoria">
                <h3>Industrias</h3>
                <ul>
                    <li><a href="/produtos/lista/#laticinios">Metalúrgicas</a></li>
                    <li><a href="/produtos/lista/#laticinios">Montadoras</a></li>
                    <li><a href="/produtos/lista/#laticinios">Usinas</a></li>
                    <li><a href="/produtos/lista/#laticinios">Retíficas</a></li>
                    <li><a href="/produtos/lista/#laticinios">Centros de manutenção</a></li>
                </ul>
            </div>
            <div class="categoria">
                <h3>Institucional</h3>
                <ul>
                    <li><a href="/produtos/lista/#laticinios">Clubes</a></li>
                    <li><a href="/produtos/lista/#laticinios">Shoppings</a></li>
                    <li><a href="/produtos/lista/#laticinios">Hotéis</a></li>
                    <li><a href="/produtos/lista/#laticinios">Clinicas</a></li>
                    <li><a href="/produtos/lista/#laticinios">Escolas</a></li>
                    <li><a href="/produtos/lista/#laticinios">Igrejas</a></li>
                    <li><a href="/produtos/lista/#laticinios">Hospitais</a></li>
                    <li><a href="/produtos/lista/#laticinios">Facilities</a></li>
                    <li><a href="/produtos/lista/#laticinios">Resorts</a></li>
                    <li><a href="/produtos/lista/#laticinios">Limpadoras</a></li>
                    <li><a href="/produtos/lista/#laticinios">Condomínios</a></li>
                    <li><a href="/produtos/lista/#laticinios">Escritórios</a></li>
                    
                </ul>
            </div>
            <div class="categoria">
                <h3>Lavanderias</h3>
                <ul>
                    <li><a href="/produtos/lista/#laticinios">Lavanderias Industriais</a></li>
                    <li><a href="/produtos/lista/#laticinios">Lavanderias Express</a></li>
                </ul>
            </div>
            <div class="categoria">
                <h3>Aviação</h3>
                <ul>
                    <li><a href="/produtos/lista/#laticinios">Aviação</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="produtos-container">
        <!-- Seção Laticínios -->
        <section class="categoria-produtos" id="laticinios">
            <h2>Laticínios</h2>
            <div class="produtos-lista">
                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

            </div>
        </section>

        <section class="categoria-produtos" id="bebidas">
            <h2>Bebidas</h2>
            <div class="produtos-lista">
                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

                <div class="produto-card">
                    <img src="../../../assets/images/kimi-klap.png" alt="Produto">
                    <h1>Desengordurante e Desengrachante alcalino</h1>
                    <p>Kimi Klap - BB Preta</p>
                    <p>Diluição: 1 a 10%</p>
                    <button>Adicionar ao Carrinho</button>
                </div>

            </div>
        </section>
</div>