
<div class="servicos-conteiner">
    <div class="servico">
        <img src="../../../assets/images/sevico-consultoria.jpg" alt="Consultoria especializada" loading="lazy">
        <div class="servico-info">
            <h2>Consultoria especializada</h2>
            <div class="servico-informacoes">
                <p>Otimize seu negócio com nossa consultoria! Identificamos gargalos, reduzímos custos e garantimos o uso dos produtos certos para sua empresa. 
                </p>
                <a href="#" class="button">
                    Saiba mais
                    <span>
                        →
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="servico">
        <img src="../../../assets/images/servico-comodato.jpg" alt="Comodato" loading="lazy">
        <div class="servico-info">
            <h2>Comodatos</h2>
            <div class="servico-informacoes">
                <p>Simplifique a infra-estrutura de sua empresa com nossos equipamentos de alto desempenho e mantenha seu negócio sempre impecável 
                </p>
                <a href="#" class="button">
                    Saiba mais
                    <span>
                        →
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>