<header class="header">
    <div class="logo">
        <img src="../../../assets/images/logo-proauto.png" alt="Logo da Empresa">
    </div>

    <!-- Ícone do menu hambúrguer -->
    <button class="menu-toggle" (click)="toggleMenu()">
        ☰
    </button>

    <nav class="menu" [class.active]="menuAberto">
        <ul>
			<li><a href="">Início</a></li>
            <li><a routerLink="produtos/lista">Produtos</a></li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle">
					Empresa
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a href="about-us" class="dropdown-item">Sobre Nós</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle">
					Parceiros
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="partners/distributors">Distribuidores</a>
				</div>
			</li>
		</ul>
    </nav>

    <div>
        <ul class="grp-menu">
            <li class="menu">
                <a href="/client/">
                    Login
                </a>
            </li>
            <li class="carrinho-container">
                <a routerLink="carrinho">
                    <img src="../../../assets/images/carrinho-compras.png" alt="Carrinho de compras">
                    <span class="badge" *ngIf="quantidadeProdutos > 0">{{ quantidadeProdutos }}</span>
                </a>
            </li>
        </ul>
    </div>
</header>