<section class="home">
    <div class="home-text">
        <h2>Consultoria e Gestão de Processos</h2>
        <p>Processos aprimorados impulsionam a eficiência, impulsionando a lucratividade.
            Na Proauto Kimium, nós ajudamos sua empresa a atingir níveis de excelência em processos,
            diminuindo custos e aumentando seus ganhos financeiros</p>

        <a href="https://wa.me/5511983583564" target="_blank" class="cta-button">FALE CONOSCO</a>
    </div>
    <div class="home-video">
        <!-- <img src="../../assets/images/home-image.png" alt="ilustração consultoria"> -->
         <video src="../../assets/videos/video-apresentação.mp4" controls="true"></video>
    </div>
</section>

<section class="features">
    <div class="feature">
        <h3>Gestão</h3>
        <p>Gestão eficiente para otimizar processos e elevar a produtividade de seu negócio</p>
    </div>
    <div class="feature">
        <h3>Consultoria</h3>
        <p>Orientação especializada para impulsionar decisões e estratégias assertivas</p>
    </div>
    <div class="feature">
        <h3>Serviços</h3>
        <p>Soluções completas para atender suas demandas com qualidade e eficiência</p>
    </div>
</section>