<div class="motivos-container">
    <div class="motivos-title">
        <h1>Quando Contratar a consultoria da <b class="blue">Proauto</b> <b class="green">Kimium</b></h1>
    </div>
    <div class="motivos-info">
        <div class="motivos">
            <h3>Quando você tem os seguintes problemas</h3>
            <ul>
                <li><span>❌</span>Custos Elevados com Produtos de Limpeza Ineficientes</li>
                <li><span>❌</span>Falta de Produtos Personalizados para Necessidades Específicas</li>
                <li><span>❌</span>Baixa Eficiência na Limpeza, Gerando Retrabalho</li>
                <li><span>❌</span>Suporte Técnico Insulficiente ou Ineficaz</li>
            </ul>
        </div>
        <div class="motivos">
            <h3>Quando você tem as seguintes necessidades</h3>
            <ul>
                <li><span>✔️</span>Necessidade de Soluções Versáteis para Diferentes Segmentos</li>
                <li><span>✔️</span>Demanda por Custo-Benefício sem Comprometer a Qualidade</li>
                <li><span>✔️</span>Busca por Sustentabilidade e Praticidade</li>
                <li><span>✔️</span>Exigência de Confiabilidade e Tradição no Fornecedor</li>
            </ul>
        </div>
    </div>
</div>