<div class="section">
    <div class="titulo">
        <h1>Conheça nossa equipe</h1>
    </div>
    <div class="equipe">
        <div class="container">
            <div class="front side">
                <div class="content">
                    <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4841.jpg?semt=ais_hybrid&w=740" alt="">
                    <h1>Nome do Vendedor</h1>
                    <p>breve descrição sobre o vendedor, areas que atua e etc 
                    </p>
                </div>
            </div>
            <div class="back side">
                <div class="content">
                    <h1>Entre em Contato</h1>
                    <form>
                        <label>Nome :</label>
                        <input type="text" placeholder="Identifique-se">
                        <label>E-mail :</label>
                        <input type="text" placeholder="Example@mail.com">
                        <label>Mensagem :</label>
                        <textarea placeholder="Digite sua mensagem aqui"></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="front side">
                <div class="content">
                    <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4841.jpg?semt=ais_hybrid&w=740" alt="">
                    <h1>Nome do Vendedor</h1>
                    <p>breve descrição sobre o vendedor, areas que atua e etc 
                    </p>
                </div>
            </div>
            <div class="back side">
                <div class="content">
                    <h1>Entre em Contato</h1>
                    <form>
                        <label>Nome :</label>
                        <input type="text" placeholder="Identifique-se">
                        <label>E-mail :</label>
                        <input type="text" placeholder="Example@mail.com">
                        <label>Mensagem :</label>
                        <textarea placeholder="Digite sua mensagem aqui"></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="front side">
                <div class="content">
                    <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4841.jpg?semt=ais_hybrid&w=740" alt="">
                    <h1>Nome do Vendedor</h1>
                    <p>breve descrição sobre o vendedor, areas que atua e etc 
                    </p>
                </div>
            </div>
            <div class="back side">
                <div class="content">
                    <h1>Entre em Contato</h1>
                    <form>
                        <label>Nome :</label>
                        <input type="text" placeholder="Identifique-se">
                        <label>E-mail :</label>
                        <input type="text" placeholder="Example@mail.com">
                        <label>Mensagem :</label>
                        <textarea placeholder="Digite sua mensagem aqui"></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="front side">
                <div class="content">
                    <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4841.jpg?semt=ais_hybrid&w=740" alt="">
                    <h1>Nome do Vendedor</h1>
                    <p>breve descrição sobre o vendedor, areas que atua e etc 
                    </p>
                </div>
            </div>
            <div class="back side">
                <div class="content">
                    <h1>Entre em Contato</h1>
                    <form>
                        <label>Nome :</label>
                        <input type="text" placeholder="Identifique-se">
                        <label>E-mail :</label>
                        <input type="text" placeholder="Example@mail.com">
                        <label>Mensagem :</label>
                        <textarea placeholder="Digite sua mensagem aqui"></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div><div class="container">
            <div class="front side">
                <div class="content">
                    <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4841.jpg?semt=ais_hybrid&w=740" alt="">
                    <h1>Nome do Vendedor</h1>
                    <p>breve descrição sobre o vendedor, areas que atua e etc 
                    </p>
                </div>
            </div>
            <div class="back side">
                <div class="content">
                    <h1>Entre em Contato</h1>
                    <form>
                        <label>Nome :</label>
                        <input type="text" placeholder="Identifique-se">
                        <label>E-mail :</label>
                        <input type="text" placeholder="Example@mail.com">
                        <label>Mensagem :</label>
                        <textarea placeholder="Digite sua mensagem aqui"></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div><div class="container">
            <div class="front side">
                <div class="content">
                    <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4841.jpg?semt=ais_hybrid&w=740" alt="">
                    <h1>Nome do Vendedor</h1>
                    <p>breve descrição sobre o vendedor, areas que atua e etc 
                    </p>
                </div>
            </div>
            <div class="back side">
                <div class="content">
                    <h1>Entre em Contato</h1>
                    <form>
                        <label>Nome :</label>
                        <input type="text" placeholder="Identifique-se">
                        <label>E-mail :</label>
                        <input type="text" placeholder="Example@mail.com">
                        <label>Mensagem :</label>
                        <textarea placeholder="Digite sua mensagem aqui"></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div><div class="container">
            <div class="front side">
                <div class="content">
                    <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4841.jpg?semt=ais_hybrid&w=740" alt="">
                    <h1>Nome do Vendedor</h1>
                    <p>breve descrição sobre o vendedor, areas que atua e etc 
                    </p>
                </div>
            </div>
            <div class="back side">
                <div class="content">
                    <h1>Entre em Contato</h1>
                    <form>
                        <label>Nome :</label>
                        <input type="text" placeholder="Identifique-se">
                        <label>E-mail :</label>
                        <input type="text" placeholder="Example@mail.com">
                        <label>Mensagem :</label>
                        <textarea placeholder="Digite sua mensagem aqui"></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>