<section class="container">
    <div class="timeline">
        <div class="timeline-empty"></div>
        <div class="timeline-middle">
            <div class="timeline-circle"></div>
        </div>
        <div class="timeline-component timeline-content">
            <h3>1994</h3>
            <p>Implantação da nova unidade fabril em mauá</p>
        </div>
        <div class="timeline-component timeline-content">
            <h3>1999</h3>
            <p>Consolidação da atuação em todo o estado de São Paulo</p>
        </div>
        <div class="timeline-middle">
            <div class="timeline-circle"></div>
        </div>
        <div class="timeline-empty">
        </div>

        <div class="timeline-empty">
        </div>

       <div class="timeline-middle">
           <div class="timeline-circle"></div>
       </div>
       <div class=" timeline-component timeline-content">
            <h3>2009</h3>
            <p>Inauguração de um moderno parque fabril em Santo André</p>
        </div>
        <div class=" timeline-component timeline-content">
            <h3>2011</h3>
            <p>Desenvolvimento de produtos para os setores industrial e aeronáutico</p>
        </div>
        <div class="timeline-middle">
            <div class="timeline-circle"></div>
        </div>
        <div class="timeline-empty">
        </div>

        <div class="timeline-empty">
        </div>

       <div class="timeline-middle">
           <div class="timeline-circle"></div>
       </div>
        <div class=" timeline-component timeline-content">
             <h3>2014</h3>
             <p>Expansão para mercados de alimentos, bebidas, restaurantes e lavanderias</p>
         </div>
         <div class=" timeline-component timeline-content">
             <h3>2019</h3>
             <p>Modernização da gestão empresarial com sistemas ERP avançados</p>
         </div>
         <div class="timeline-middle">
            <div class="timeline-circle"></div>
        </div>
        <div class="timeline-empty">
        </div>

        <div class="timeline-empty">
        </div>
    </div>
</section>
