

<div class="container">
    <pk-title text="Politica de Privacidade" [style]="PkStyle.One"/>

    <div class="title">
        <pk-title text="1. INFORMAÇÕES PESSOAIS QUE COLETAMOS" [style]="PkStyle.Three"/>
    </div>
    <div class="paragraph">
        <p>Ao visitar nosso site, registramos dados como frequência de uso, data e hora de acesso, quando você
            visualiza, ou clica em um conteúdo específico, bem como quais são suas preferências de conteúdo</p>
    </div>
    <div class="paragraph">
        <p>Quando você acessa nossa página, lê nossos e-mails e endereços de protocolo da internet(IP),são armazenadas
            informações que possibilitam identificá-lo e registrar seu uso na Plataforma.</p>
    </div>
    <div class="paragraph">
        <p>Informamos que nenhuma decisão é tomada por nós, com base em perfis, exceto se para fins de personalização de
            anúncios publicitários e de prevenção legítima de fraudes na internet, circunstâncias em que a legislação
            reconhece existir interesse legítimo no tratamento de dados.</p>
    </div>
    <div class="paragraph">
        <p>Também possuímos acesso a algumas informações fornecidas por terceiros, por meio de outras plataformas, por
            exemplo, quando você registra-se via Facebook ou tecnologias similares. Essas informações podem incluir
            textos pessoais ou imagens disponíveis em um site externo.</p>
    </div>
    <div class="title">
        <pk-title text="2. PROPÓSITO" [style]="PkStyle.Three"/>
    </div>
    <div class="paragraph">
        <p>A <b>Proauto Kimium&reg;</b>, como Responsável da Parte de Tratamento de dados, lidará com seus dados
            pessoais para os seguintes propósitos:</p>
    </div>
    <div class="paragraph">
        <ul>
            <li>Gerir seu registro como usuário da plataforma, visando sua identificação para conceder-lhe acesso aos
                serviços disponíveis para usuários registrados;
            </li>
            <li>Realizar contato via e-mail sobre atualizações ou informações relacionadas a recursos, produtos ou
                serviços e atualizações, desde que sejam necessárias ou razoáveis;
            </li>
            <li>Emitir resposta a qualquer solicitação ou consulta realizada através dos canais de atendimento ao
                cliente, disponíveis em nossa página;
            </li>
            <li>Utilizar suas informações para gerar dados não identificados e incorporados. Por exemplo, gerar
                estatísticas sobre usuários, seus trabalhos ou áreas de especialização, número de impressões ou cliques
                em um projeto específico ou dados demográficos do visitante;
            </li>
        </ul>
    </div>
    <div class="title">
        <pk-title text="3. USO DE DADOS" [style]="PkStyle.Three"/>
    </div>
    <div class="paragraph">
        <p>Com o intuito de melhorar nossos serviços, saiba que informações pessoais relacionadas aos seus interesses e
            preferências podem ser usadas pela Proauto Kimium&reg; para fins de análise, perfis de usuários, estudos de
            marketing, pesquisas de qualidade e melhoria na interação com nossos clientes.</p>
    </div>
    <div class="paragraph">
        <p>Caso você permita, de forma expressa, seus dados pessoais poderão ser utilizados para disponibilização de
            publicidade personalizada veiculada aos nossos produtos e serviços, que serão apresentados via e-mails ou
            por outros meios de comunicação eletrônica, por nós ou de terceiros colaboradores.</p>
    </div>

    <div class="title">
        <pk-title text="4. PERIODO DE RETENÇÃO DE DADOS" [style]="PkStyle.Three"/>
    </div>
    <div class="paragraph">
        <p>Seus dados pessoais serão mantidos enquanto mantivermos uma relação contratual válida e, após isso, pelo
            período determinado para quaisquer obrigações decorrentes do tratamento dos dados ou conforme estabelecido
            por lei.</p>
    </div>

    <div class="title">
        <pk-title text="5. QUEM OBTÉM MEUS DADOS" [style]="PkStyle.Three"/>
    </div>
    <div class="paragraph">
        <p>Para cumprimento dos fins indicados nesta Política de Privacidade, pode ser necessário denunciar ou liberar
            seus dados pessoais para terceiros pelas seguintes razões:</p>
    </div>
    <div class="paragraph">
        <ul>
            <li>Transferências Comerciais: referente a qualquer reorganização, reestruturação, fusão ou venda, ou
                qualquer outra transferência de ativos, incluindo pessoal, desde que a parte receptora concorde em
                tratar suas informações pessoais conforme nossa atual Política de Privacidade;
            </li>
            <li>Prestadores de Serviços: para prestar serviços em nosso nome ou para nos ajudar a fornecer nossos
                serviços. Prestar serviços de marketing, publicidade, comunicação, infraestrutura e TI, personalizar e
                melhorar nossos serviços, prestar atendimento ao cliente, analisar e melhorar dados (como dados sobre a
                interação do usuário com nossos serviços), processar e gerenciar pesquisas de satisfação. Visando a
                eficiência, esses parceiros e provedores podem estar sediados nos EUA ou em outros países, ou
                territórios fora da Área Econômica Europeia, e podem não possuir um nível de proteção de dados
                comparável ao do seu país ou da União Europeia.
            </li>
        </ul>
    </div>
    <div class="paragraph">
        <p>Ao concordar com esta Política de Privacidade, você está especificamente nos autorizando a gerenciar e
            liberar seus dados pessoais para os provedores de serviços responsáveis pelo tratamento de dados e/ou
            reportar seus dados pessoais aos parceiros mencionados, que estão fora da Área Econômica Europeia, para os
            propósitos descritos aqui e te oferecer um serviço completo. Quando divulgamos informações pessoais e
            trocamos dados com países fora do Espaço Econômico Europeu e outras áreas com leis de proteção de dados,
            garantimos que as informações estão sendo transferidas em conformidade com esta Política de Privacidade e
            com as leis atuais de proteção de dados.</p>
    </div>

    <div class="title">
        <pk-title text="6. DIREITOS DE PROTEÇÃO DE DADOS" [style]="PkStyle.Three"/>
    </div>
    <div class="paragraph">
        <p>Como Parte Responsável pelo Tratamento de Dados, nos comprometemos em respeitar a natureza confidencial de
            seus dados pessoais e garantir o pleno exercício desses direitos. São direitos garantidos a você na proteção
            de dados:</p>
    </div>
    <div class="paragraph">
        <ul>
            <li>Direito de acesso: o titular dos dados tratados, ou seja, você, tem o direito de confirmar se estamos
                processando seus dados pessoais e, se estivermos, você tem o direito de obter uma cópia desses dados e
                demais informações referentes ao manuseio, aos destinatários, ao prazo de conservação, e a fonte
                coletora dos mesmos, caso não tenham sido fornecidos por você, dentre outros;
            </li>
            <li>Direito de emendar: trata-se do direito concedido a você para que haja retificação de dados inexatos e
                alteração de informações incompletas, além de lhe ser garantido verificar a autenticidade dos dados que
                estão sendo tratados;
            </li>
            <li>Direito de apagar: por meio desse direito, você também pode impor a exclusão dos seus dados, sem atrasos
                indevidos, se eles estiverem sendo manipulados indevida e ilicitamente ou se o fim para o qual foram
                utilizados ou coletados tenha deixado de existir, ressalvados o exercício de expressão e informação,
                cumprimento de ordem legal, postulação ou defesa em processo judicial, interesse público da saúde
                pública e para fins de investigação científica ou histórica ou para fins estatísticos;
            </li>
            <li>Direito à limitação de manuseio: Você tem o direito de solicitar que a suspensão do tratamento de suas
                informações seja ilegal ou a exatidão dos dados tenha sido contestada;
            </li>
            <li>Direito de se opor: a você também é assegurado o direito de se opor ao manuseio de seus dados quando
                estes forem utilizados para fins de marketing direto ou quando o tratamento for encerrado devido
                situação particular, exceto quando houver legítimo interesse ou for necessário para o exercício ou
                defesa de reivindicações;
            </li>
            <li>Direito de não ser submetido a decisões personalizadas: você tem o direito de não ser submetido à
                decisão exclusivamente baseada no tratamento automático de seus dados, incluindo a definição de perfis,
                com efeitos legais vinculantes ou que o afetem, ressalvadas as exceções previstas em lei, como, por
                exemplo, quando necessário para a execução de um contrato entre o titular dos dados e o responsável por
                eles, ou se você autorizou expressamente;
            </li>
            <li>Direito de portabilidade: refere-se ao direito de receber as informações pessoais que lhe digam respeito
                e que você tenha fornecido a nós ou a outro responsável pelo tratamento das mesmas, bem como a
                possibilidade de transmitir esses dados diretamente a outro responsável, sem que o último responsável a
                quem os dados pessoais foram confiados o possa impedir, desde que o tratamento dessas informações seja
                lícito, seja necessário para a execução ou diligência de um contrato, tenham sido tratados, com
                permissão expressa, sob categorias especiais previstas em lei e que seja realizado em meios
                automatizados;
            </li>
            <li>Direito de transparência: esse direito visa que haja transparência e precisão das informações ou
                comunicações destinadas a você ou ao público em geral, relacionadas com a finalidade do uso e do
                tratamento desses dados pessoais, bem como que sejam de fácil acesso e compreensão, e formuladas numa
                linguagem clara e simples. As informações serão prestadas por escrito ou por meios eletrônicos. Caso
                deseje, a informação também poderá ser prestada oralmente, desde que você se identifique;
            </li>
            <li> Privacidade dos dados das crianças: quando as ofertas diretas de serviços da informação e o tratamento
                dos dados dizerem respeito ou forem direcionados a crianças, com menos de 16 anos, só serão considerados
                lícitos e possíveis se houver o consentimento dos pais ou responsáveis legais.
            </li>
        </ul>
    </div>
    <div class="paragraph">
        <p>Para exercer os direitos mencionados acima, envie um e-mail para: <a href="mailto:sac@proautokimium.com.br"
                                                                                target="_blank">sac&#64;proautokimium.com.br</a>
            indicando sua (I) identidade, compartilhando seu nome completo e endereço de e-mail usado para registrar ou
            fazer uma compra, um ID para estabelecer sua identidade e (II) o(s) direitos que você está exercendo. O
            exercício de tais direitos é gratuito, exceto quando os pedidos são deliberadamente infundados ou
            excessivos, caso em que o indivíduo será obrigado a arcar com os custos de processamento.</p>
    </div>

    <div class="title">
        <pk-title text="7. INFORMAÇÃO SOBRE COOKIES" [style]="PkStyle.Three"/>
    </div>
    <div class="paragraph">
        <p>Utilizamos cookies nesta plataforma, principalmente para permitir uma melhor experiência de navegação ao
            usuário. Caso se interesse por mais informações, por favor, leia nossa Política de Cookies, sua finalidade e
            outros esclarecimentos úteis.</p>
    </div>

    <div class="title">
        <pk-title text="8. ALTERAÇÕES" [style]="PkStyle.Three"/>
    </div>
    <div class="paragraph">
        <p>Esta Política de Privacidade será alterada ocasionalmente e conforme exigido por modificações legais,
            regulamentares ou operacionais. Ressaltamos que notificaremos tais alterações (incluindo a data efetiva),
            conforme exigências legais.</p>
    </div>
</div>