@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "./variables.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


html {
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neve', Helvetica, Arial, sans-serif;
}

app-root{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content{
    padding-top: px;
    flex: 1;
    background: #f1f2f4
}

app-footer{
    text-align: center;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
