$primary-color: #57c1ab;
$secondary-color: #232e61;
$text-primary-color: #333;
$text-secondary-color: #666;
$secondary-text-color: #888888;
$banner-color: #eafaf4;
$primary-hover-color: #019a7a;
$primary-background-color: #f1f2f4;
$secondary-background-color: #05132a;

$primary: #57c1ab ;
$secondary: #57c1ab;
$button: #57c1ab;
$text: #57c1ab;
$link: #57c1ab;
$title: #57c1ab;
$card: #57c1ab;
$hover-button: #57c1ab;
$hover-text: #57c1ab;
$hover-link: #57c1ab;
$hover-title: #57c1ab;
