<main>
    <section class="menu-categorias">
        <h2>Navegue por Categorias</h2>
        <div class="itens-categorias">
            <div class="categoria" *ngFor="let categoria of categorias">
                <h3>{{ categoria.nome }}</h3>
                <ul>
                    <li *ngFor="let item of categoria.produtos">
                        <a [href]="'/produtos/lista/#' + item.id">{{ item.nome }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="produtos-container">
        <section class="categoria-produtos" id="{{ categoriaKey }}" *ngFor="let categoriaKey of produtosKeys"> 
            <h2>{{ categoriaKey | titlecase}}</h2>
            <div class="produtos-lista">
              <div class="produto-card" *ngFor="let produto of produtos[categoriaKey]">
                <div class="imageBox">
                    <img src="../../../assets/images/{{ produto.imagem }}" alt="{{ produto.titulo }}" loading="lazy">
                </div>
                <div class="title">
                    <h1>{{ produto.titulo }}</h1>
                </div>
                <div class="content">
                    <p><b>Produto: </b>{{ produto.descricao }}</p>
                    <p><b>Cor: </b>{{ produto.cor }}</p>
                    <p><b>Diluição:</b> {{ produto.diluicao }}</p>
                </div>
                <div class="actions">
                    <button (click)="adicionarAoCarrinho(produto)">Adicionar ao Carrinho</button>
                </div>
            </div>
            </div>
            <app-snackbar [message]="snackbarMessage" [isOpen]="showSnackbar"></app-snackbar>
          </section>
    </section>
</main>
