@import '../../../../../styles/variables.scss';


.banner-servicos-produtos {
    margin-top: 20px;
    width: 100%;
}

.servicos-produtos-container {
    text-align: center;

    h2 {
        font-size: 4rem;
        margin-bottom: 35px;
        margin-top: 35px;

        @media (max-width: 1024px) {
            font-size: 3rem;
        }
    
        @media (max-width: 480px){
            font-size: 2rem;
        }
    }

    
}
