<div class="servicos-produtos-container">
    <img src="../../../assets/images/banner-servicos-produtos.png" alt="Banner servicos e produtos" class="banner-servicos-produtos" loading="lazy">
    <div class="services">
        <h2>Serviços</h2>
        <app-servicos></app-servicos>
    </div>
    
    <div class="produtos">
        <h2>Produtos por Departamento</h2>
        <!-- <app-products-per-department></app-products-per-department> -->
        <app-produtos></app-produtos>
    </div>
    
</div>