<div class="produtos-container">
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="../../../assets/images/card-alimentos.png" alt="alimentos" loading="lazy">
                </figure>
                <div class="article-body">
                    <h2>Alimentos</h2>
                    <a href="/produtos/lista/#laticinios" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="../../../assets/images/card-cozinhas.png" alt="cozinhas industriais" loading="lazy">
                </figure>
                <div class="article-body">
                    <h2>Cozinhas industriais e Restaurantes</h2>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="../../../assets/images/card-automotivos.png" alt="automotivo" loading="lazy">
                </figure>
                <div class="article-body">
                    <h2>Automotivo</h2>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="../../../assets/images/card-industrial.png" alt="industrias" loading="lazy">
                </figure>
                <div class="article-body">
                    <h2>Industrias</h2>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="../../../assets/images/card-institucional.png" alt="Institucional" loading="lazy">
                </figure>
                <div class="article-body">
                    <h2>Institucional</h2>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="../../../assets/images/card-lavanderias.png" alt="lavanderias" loading="lazy">
                </figure>
                <div class="article-body">
                    <h2>Lavanderias</h2>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="../../../assets/images/card-aviacao.png" alt="aviacao" loading="lazy">
                </figure>
                <div class="article-body">
                    <h2>Aviação</h2>
                    <a href="/produtos/lista/#laticinios" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>