@import '../../../style/variables.scss';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $banner-color;
    padding: 50px;
    border-radius: 10px;
    
    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
}

.home-text {
    max-width: 50%;

    @media (max-width: 1024px) {
        max-width: 100%;
    }
}

.home-text h2 {
    font-size: 2.5em;
    color: $text-primary-color;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 2em;
    }
}

.home-text p {
    font-size: 1.2em;
    line-height: 1.5;
    color: $text-secondary-color;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 1em;
    }
}

.home-text .cta-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: #019a7a;
    }
}

.home-image {
    max-width: 40%;

    @media (max-width: 1024px) {
        max-width: 80%;
        margin-top: 20px;
    }
}

.home-image img {
    width: 100%;
    border-radius: 10px;
}

.home-video {
    max-width: 45%;

    @media (max-width: 1024px) {
        max-width: 80%;
    }
}

.home-video video {
    width: 100%;
    border-radius: 10px;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.feature {
    text-align: center;
    max-width: 30%;

    @media (max-width: 768px) {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

.home-about-us,
.home-nossos-valores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
}

.features-nossos-valores {
    display: flex;
    justify-content: space-between;
    margin-top: 0;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.feature-nossos-valores {
    text-align: center;
    max-width: 40%;

    @media (max-width: 768px) {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

.home-consultoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 50px;
    border-radius: 10px;

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .home-consultoria-text {
        color: white;
        
        h3 {
            font-weight: bold;
        }
    }

    button {
        background-color: $banner-color;
        font-weight: bold;
        margin: 0;
        padding: 5px 20px;
        border-radius: 12px;
        border-color: transparent;
        color: white;
        transition: transform 0.3s;

        a {
            text-decoration: none;
            color: $primary-color;
        }
    }

    button:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: $primary-hover-color;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        a {
            color: white;
        }
    }
}
