@import '../../../style/variables.scss';

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.home-banner-container {
    background-image: url('../../../assets/images/banner-consultoria.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px;
    position: relative;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        height: 600px;
        padding: 30px;
    }

    @media (max-width: 480px) {
        height: 400px;
        padding: 20px;
    }
}

.home-banner-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.home-banner-content {
    position: relative;
    z-index: 2;

    h1 {
        font-size: 4em;
        margin-bottom: 20px;
        
        @media (max-width: 768px) {
            font-size: 3em;
        }

        @media (max-width: 480px) {
            font-size: 2.5em;
        }
    }
    
    p {
        font-size: 1.5em;
        margin-bottom: 20px;
        
        @media (max-width: 768px) {
            font-size: 1.2em;
        }

        @media (max-width: 480px) {
            font-size: 1em;
        }
    }
}

.blue {
    color: #0056b3;
    font-weight: bold;
}

.green {
    color: $primary-color;
    font-weight: bold;
}

.cta-button {
    background-color: $secondary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;

    &:hover {
        background-color: $primary-color;
    }

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px 16px;
    }

    @media (max-width: 480px) {
        font-size: 12px;
        padding: 6px 12px;
    }
}

.processo-container {
    background-color: #05132a;
    color: #fff;
    text-align: center;
    padding: 50px;


    .process-box {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 36px;
        padding: 30px;
        margin-top: 20px;
        
        
    }
      
    .steps {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }
      
    .step {
        padding: 20px;
        width: 200px;
        text-align: center;

    }
      
    .icon {
        padding: 20px;
    }
}

.banner-servicos-produtos {
    margin-top: 20px;
    width: 100%;
}

.servicos-produtos-container {
    text-align: center;

    h2 {
        font-size: 4rem;
        margin-bottom: 35px;
        margin-top: 35px;

        @media (max-width: 1024px) {
            font-size: 3rem;
        }
    
        @media (max-width: 480px){
            font-size: 2rem;
        }
    }

    
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f4f9;
    padding: 50px;
    border-radius: 10px;

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.home-text {
    max-width: 50%;

    @media (max-width: 1024px) {
        max-width: 100%;
    }
}

.home-text h2 {
    font-size: 2.5em;
    color: $text-primary-color;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 2em;
    }

    @media (max-width: 480px) {
        font-size: 1.8em;
    }
}

.home-text p {
    font-size: 1.2em;
    line-height: 1.5;
    color: $text-secondary-color;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 1em;
    }

    @media (max-width: 480px) {
        font-size: 0.9em;
    }
}

.home-text .cta-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: #019a7a;
    }

    @media (max-width: 768px) {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    @media (max-width: 480px) {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}

.home-image {
    max-width: 40%;

    @media (max-width: 1024px) {
        max-width: 80%;
        margin-top: 20px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.home-image img {
    width: 100%;
    border-radius: 10px;
}

.home-video {
    max-width: 45%;

    @media (max-width: 1024px) {
        max-width: 80%;
    }

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.home-video video {
    width: 100%;
    border-radius: 10px;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.feature {
    text-align: center;
    max-width: 30%;

    @media (max-width: 768px) {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

.home-about-us,
.home-nossos-valores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.features-nossos-valores {
    display: flex;
    justify-content: space-between;
    margin-top: 0;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.feature-nossos-valores {
    text-align: center;
    max-width: 40%;

    @media (max-width: 768px) {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

.home-consultoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 50px;
    border-radius: 10px;

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }

    .home-consultoria-text {
        color: white;

        h3 {
            font-weight: bold;
        }
    }

    button {
        background-color: $banner-color;
        font-weight: bold;
        margin: 0;
        padding: 5px 20px;
        border-radius: 12px;
        border-color: transparent;
        color: white;
        transition: transform 0.3s;

        a {
            text-decoration: none;
            color: $primary-color;
        }
    }

    button:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: $primary-hover-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        a {
            color: white;
        }
    }
}
