<div class="titulo">
    <h1>Clientes que confiam na Proauto Kimium</h1>
</div>
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="../../../assets/images/cliente-1.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-2.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-3.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-4.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-5.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-6.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-7.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-1.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-2.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-3.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-4.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-5.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-6.webp" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/images/cliente-7.webp" height="100" width="250" alt="" />
        </div>
    </div>
</div>