@import '../../../styles/variables.scss';

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}








.home-about-us,
.home-nossos-valores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.features-nossos-valores {
    display: flex;
    justify-content: space-between;
    margin-top: 0;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.feature-nossos-valores {
    text-align: center;
    max-width: 40%;

    @media (max-width: 768px) {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

.home-consultoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 50px;
    border-radius: 10px;

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }

    .home-consultoria-text {
        color: white;

        h3 {
            font-weight: bold;
        }
    }

    button {
        background-color: $banner-color;
        font-weight: bold;
        margin: 0;
        padding: 5px 20px;
        border-radius: 12px;
        border-color: transparent;
        color: white;
        transition: transform 0.3s;

        a {
            text-decoration: none;
            color: $primary-color;
        }
    }

    button:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: $primary-hover-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        a {
            color: white;
        }
    }
}

