<app-card-case-sucesso
  [imagem]="'assets/coco-bambu-logo.png'"
  [titulo]="'Coco Bambu'"
  [descricao]="'Nossa consultoria de sucesso no cliente Coco Bambu aplicou métodos exclusivos para otimizar processos, reduzir custos e aumentar a eficiência.'"
  [resultado]="[
    { texto: 'Redução de Custos: Economia de até 30% em produtos químicos.' },
    { texto: 'Eficiência Operacional: Otimização de 25% no uso de insumos.' },
    { texto: 'Setores Beneficiados: Limpeza e cozinha' },
    { texto: 'Impacto Financeiro: Corte de desperdícios e maior rentabilidade.' }
  ]"
  [link]="'/consultoria/coco-bambu'"
></app-card-case-sucesso>