<div class="processo-container">
    <h2>Uma Consultoria para virar a chave do seu negócio</h2>
    <div class="process-box">
        <h3>Como funciona nosso processo?</h3>
        <div class="steps">
            <div class="step">
                <h4><em>Etapa 01</em></h4>
                <img class="icon" src="../../../assets/images/icons/etapa1.png"/>
                <p>Contratação da Consultoria</p>
            </div>
            <div class="step">
                <h4><em>ETAPA 02</em></h4>
                <img class="icon" src="../../../assets/images/icons/etapa2.png"/>
                <p>Coleta de dados a partir das análises realizadas de todo o processo produtivo e reconhecimento dos entraves atuais</p>
              </div>
              <div class="step">
                  <h4><em>ETAPA 03</em></h4>
                  <img class="icon" src="../../../assets/images/icons/etapa3.png"/>
                <p>Formatação de laudos técnicos com base nos dados coletados durante a visita</p>
              </div>
              <div class="step">
                  <h4><em>ETAPA 04</em></h4>
                  <img class="icon" src="../../../assets/images/icons/etapa4.png"/>
                <p>Demonstração do plano de ação ao cliente, com as ofertas de soluções imediatas e definitivas para os problemas encontrados</p>
              </div>
              <div class="step">
                  <h4><em>ETAPA 05</em></h4>  
                  <img class="icon" src="../../../assets/images/icons/etapa5.png"/>
                <p>Implementação dos processos e execução das ações recomendadas</p>
              </div>
              <div class="step">
                  <h4><em>ETAPA 06</em></h4>
                  <img class="icon" src="../../../assets/images/icons/etapa6.png"/>
                <p>Validação das ações implementadas, análise dos resultados e visitas de acompanhamento</p>
              </div>
        </div>
    </div>
</div>