<div class="container">
    <section class="home">
        <div class="home-text">
            <h2>Consultoria e Gestão de Processos</h2>
            <p>Processos aprimorados impulsionam a eficiência, impulsionando a lucratividade.
                Na Proauto Kimium, nós ajudamos sua empresa a atingir níveis de excelência em processos,
                diminuindo custos e aumentando seus ganhos financeiros</p>

            <a href="#contato" class="cta-button">FALE CONOSCO</a>
        </div>
        <div class="home-image">
            <img src="../../assets/images/home-image.png" alt="ilustração consultoria">
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <h3>Gestão</h3>
            <p>Interdum et malesuada fames ante...</p>
        </div>
        <div class="feature">
            <h3>Consultoria</h3>
            <p>Interdum et malesuada fames ante...</p>
        </div>
        <div class="feature">
            <h3>Serviços</h3>
            <p>Interdum et malesuada fames ante...</p>
        </div>
    </section>

    <section class="home-about-us">
        <div class="home-image">
            <img src="../../assets/images/Artwork.png" alt="ilustração sobre nós">
        </div>

        <div class="home-text">
            <h3>Há mais de 30 anos no mercado</h3>
            <p>O grande diferencial da Proauto Kimium é o alinhamento entre a fabricação dos produtos
                 e os serviços de gestão e consultoria realizados nos clientes, trazendo o equilibrio 
                 entre custo e benefício com o cliente.</p>
                <section class="features">
                <div class="feature">
                    <h3>+100</h3>
                    <p>Funcionários</p>
                </div>
                <div class="feature">
                    <h3>+200</h3>
                    <p>Produtos</p>
                </div>
                <div class="feature">
                    <h3>+300</h3>
                    <p>Clientes</p>
                </div>
            </section>
        </div>
    </section>
</div>