<section class="hero">
    <div class="hero-logo">
        <img src="../../../../../assets/images/logo.png" alt="Proauto Kimium Logo">
    </div>
    <div class="hero-content">
        <h1>Excelência em <span class="highlight-green-variant">performance</span> e inovação</h1>
        <h2>Produtos, Consultoria e Inovação técnica para os setores mais exigentes do mercado.</h2>
        <div class="hero-features">
            <div class="feature-item">
                <img src="../../../../../assets/images/checkbox-checked.png" alt="Check">
                Tecnologia comprovada
            </div>
            <div class="feature-item">
                <img src="../../../../../assets/images/checkbox-checked.png" alt="Check">
                Equipe técnica especializada
            </div>
            <div class="feature-item">
                <img src="../../../../../assets/images/checkbox-checked.png" alt="Check">
                Sustentabilidade como pilar
            </div>
        </div>
        <a href="#consultoria" class="cta-button">Lidere com nossas soluções</a>
    </div>
</section>